.about1,
.about2,
.about3,
.about4 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.about1 {
  background-color: orange;
}
.about2 {
  background-color: rgb(209, 139, 9);
}
.about3 {
  background-color: rgb(233, 187, 102);
}
.about4 {
  background-color: rgb(219, 143, 0);
}
