/*------ABOUT-SEE MORE---------- */
.header-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //

  //
  //
  background-image: url(../images/garabato_onblanc1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  nav {
    list-style-type: none;
    .linnko {
      color: #000;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 4px solid transparent;
      transition: border-bottom 0.5s ease-in-out;

      &:hover {
        padding-bottom: 3px;
        border-bottom-color: #333333;
      }
    }
    .cube1 {
      position: fixed;
      top: 50%;
      left: 20px;
      transform-origin: 0 0;
      transform: rotate(-90deg) translate(-50%, 0);
    }

    .cube2 {
      position: fixed;
      top: 50%;
      right: 20px;

      transform-origin: 100% 0;
      transform: rotate(90deg) translate(50%, 0);
    }

    .cube3 {
      position: fixed;

      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .cube4 {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 10%);
    }
  }

  /* ------ */
  .texto-dos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //

    // -webkit-text-stroke: 1px rgb(255, 255, 255);
    // -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 59px;
    font-size: 3.6rem;
    letter-spacing: 2px;

    font-family: "Poppins-light";
  }

  /* img */
  img.navi-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    border: 5px solid #000;
  }
  //
  //
  //

  .flagZoomBox {
    width: 90%;
    margin: 0 5%;
    background: transparent;
    text-align: center;
    max-width: 900px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .button-cube-original-zoom {
    background-color: yellow;

    p {
      color: red;
    }
    button.btn-zoom-original {
      background: gray;
      color: white;
      margin: 20px;
      border: 0;
      border-radius: 2px;
      padding: 6px 12px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
    }
    button:hover {
      background: dimgray;
    }
    :focus {
      outline: none;
    }
  }
}
