// PHONE Portrait & Landscape
@media screen and(min-width: 320px) and(max-width:480px) {
}
// ---------------
// PHONE Portrait (all big mobile versions)
@media screen and(min-width: 320px) {
  header {
    // border: 1px solid rgb(190, 253, 15);
    padding: 0 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px));

    .inner-header {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #e49841;
      // border: 1px solid #000;
      // -----------
      //   z-index DO NOT WORK unless you define a position
      // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
      position: relative;
      //
      // ------------
      //     MENU
      // ------------
      //
      .menu {
        z-index: 10;
        position: absolute;
        top: 3.4vh;
        right: 10vw;
        transform: translate(-10%, -3.4%);
        button {
          color: #eeedeb;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 2vh;
          mix-blend-mode: difference;
        }
      }
      //
      // ------------
      //     LOGO
      // ------------
      //
      .container-logo {
        margin: 20px 0 0 30px;
        text-decoration: none;
        font-family: "Roboto-Light";
        .logo1 {
          font-size: 11vh;
          font-weight: 600;
          color: #eeedeb;
        }
      }

      // --------------
      //  text bio nav
      // --------------

      p {
        margin: 30px 0 0 30px;
        width: 66%;
        font-weight: 100;
        font-size: 2.5vh;
        line-height: 28px;
        letter-spacing: 1px;
        font-family: "Ubuntu-Light";
        color: #eeedeb;
        padding: 10px;

        //
        position: absolute;
        top: 90vh;
        left: 0vw;
        transform: translate(-0%, -90%);
        .link-bio-nav {
          color: #eeedeb;
          margin: 0 10px;
          font-size: 2vh;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: rgb(58, 58, 58);
          }
        }
      }
    }

    //
    //
    //
    //   -------------------
    //          Hamburger
    //   -------------------
    //
    // Hamburger content , it s what is going
    // to be shown when clicking on the menu
    // button
    //

    // nav open
    .hamburger-menu {
      display: none; //you can replace it with display just to see what you have
      z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      //
      //-------------
      //  .menu-layer
      //
      .nav_menu-layer {
        position: relative;
        background-color: rgb(10, 10, 10);
        height: 100%;
        overflow: hidden;

        //-------------
        //  .menu-layer
        //-------------
        //
        .nav_menu-layer-wrapper {
          .menu-links {
            position: relative;
            //

            nav {
              position: absolute;
              top: 42vh;
              left: 30vw;
              transform: translate(-30%, -42%);
              ul {
                li {
                  font-family: "Roboto-Light";
                  list-style: none;
                  font-size: 7vh;
                  font-weight: 700;
                  cursor: pointer;
                  //
                  line-height: 62px;

                  a {
                    color: #eeedeb;
                    text-decoration: none;
                    &:hover {
                      color: #979797;
                    }
                  }
                }
              }
            }
          }
        }

        // this we dont need but maybe we can fin a replacement
        .follow-links-menu-links {
          position: absolute;
          top: 91vh;
          left: 45vw;
          transform: translate(-45%, -91%);
          //
          //
          color: #eeedeb;
          margin-top: 16px;
          font-size: 2vh;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 40px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #eeedeb;
              background: #111111;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
      //
      //-------------
      //
      //-------------
      //
    }
  }
}
// ---------------
// ---------------
// PHONE Landscape (all tiny mobile versions)
@media screen and(max-width: 480px) {
  header {
    // border: 1px solid rgb(190, 253, 15);
    padding: 0 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px));

    .inner-header {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #a0ace2;
      // border: 1px solid #000;
      // -----------
      //   z-index DO NOT WORK unless you define a position
      // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
      position: relative;
      //
      // ------------
      //     MENU
      // ------------
      //
      .menu {
        z-index: 10;
        position: absolute;
        top: 3.4vh;
        right: 10vw;
        transform: translate(-10%, -3.4%);
        button {
          color: #eeedeb;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 2vh;
          mix-blend-mode: difference;
        }
      }
      //
      // ------------
      //     LOGO
      // ------------
      //
      .container-logo {
        margin: 20px 0 0 30px;
        text-decoration: none;
        font-family: "Roboto-Light";
        .logo1 {
          font-size: 7vh;
          font-weight: 600;
          color: #eeedeb;
        }
      }

      // --------------
      //  text bio nav
      // --------------

      p {
        margin: 30px 0 0 30px;
        width: 66%;
        font-weight: 100;
        font-size: 2.5vh;
        line-height: 28px;
        letter-spacing: 1px;
        font-family: "Ubuntu-Light";
        color: #eeedeb;
        padding: 10px;

        //
        position: absolute;
        top: 90vh;
        left: 0vw;
        transform: translate(-0%, -90%);
        .link-bio-nav {
          color: #eeedeb;
          margin: 0 10px;
          font-size: 2vh;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: rgb(58, 58, 58);
          }
        }
      }
    }

    //
    //
    //
    //   -------------------
    //          Hamburger
    //   -------------------
    //
    // Hamburger content , it s what is going
    // to be shown when clicking on the menu
    // button
    //

    // nav open
    .hamburger-menu {
      display: none; //you can replace it with display just to see what you have
      z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      //
      //-------------
      //  .menu-layer
      //
      .nav_menu-layer {
        position: relative;
        background-color: rgb(10, 10, 10);
        height: 100%;
        overflow: hidden;

        //-------------
        //  .menu-layer
        //-------------
        //
        .nav_menu-layer-wrapper {
          .menu-links {
            position: relative;
            //

            nav {
              position: absolute;
              top: 42vh;
              left: 30vw;
              transform: translate(-30%, -42%);
              ul {
                li {
                  list-style: none;
                  font-size: 7vh;
                  font-weight: 700;
                  cursor: pointer;
                  //
                  line-height: 62px;

                  a {
                    color: #eeedeb;
                    text-decoration: none;
                    &:hover {
                      color: #979797;
                    }
                  }
                }
              }
            }
          }
        }

        // this we dont need but maybe we can fin a replacement
        .follow-links-menu-links {
          position: absolute;
          top: 91vh;
          left: 45vw;
          transform: translate(-45%, -91%);
          //
          //
          color: #eeedeb;
          margin-top: 16px;
          font-size: 2vh;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 40px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #eeedeb;
              background: #111111;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
      //
      //-------------
      //
      //-------------
      //
    }
  }
}
// ---------------
// ---------------
//
// TABLET Portrait & Landscape
@media screen and(min-width: 768px) and(max-width:1024px) {
}

// ---------------
// TABLET Portrait
@media screen and(min-width: 768px) {
  header {
    // border: 1px solid rgb(190, 253, 15);
    padding: 0 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px));

    .inner-header {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #59855b;
      // border: 1px solid #000;
      // -----------
      //   z-index DO NOT WORK unless you define a position
      // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
      position: relative;
      //
      // ------------
      //     MENU
      // ------------
      //
      .menu {
        z-index: 10;
        position: absolute;
        top: 3.4vh;
        right: 10vw;
        transform: translate(-10%, -3.4%);
        button {
          color: #eeedeb;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 2vh;
          mix-blend-mode: difference;
        }
      }
      //
      // ------------
      //     LOGO
      // ------------
      //
      .container-logo {
        margin: 20px 0 0 60px;
        text-decoration: none;
        font-family: "Roboto-Light";
        .logo1 {
          font-size: 13vh;
          font-weight: 600;
          color: #eeedeb;
        }
      }

      // --------------
      //  text bio nav
      // --------------

      p {
        margin: 30px 0 0 60px;
        width: 66%;
        font-weight: 100;
        font-size: 3.2vh;
        line-height: 35px;
        letter-spacing: 1px;
        font-family: "Ubuntu-Light";
        color: #eeedeb;
        padding: 10px;

        //
        position: absolute;
        top: 90vh;
        left: 0vw;
        transform: translate(-0%, -90%);
        .link-bio-nav {
          color: #eeedeb;
          margin: 0 10px;
          font-size: 2.5vh;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: rgb(58, 58, 58);
          }
        }
      }
    }

    //
    //
    //
    //   -------------------
    //          Hamburger
    //   -------------------
    //
    // Hamburger content , it s what is going
    // to be shown when clicking on the menu
    // button
    //

    // nav open
    .hamburger-menu {
      display: none; //you can replace it with display just to see what you have
      z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      //
      //-------------
      //  .menu-layer
      //
      .nav_menu-layer {
        position: relative;
        background-color: rgb(10, 10, 10);
        height: 100%;
        overflow: hidden;

        //-------------
        //  .menu-layer
        //-------------
        //
        .nav_menu-layer-wrapper {
          .menu-links {
            position: relative;
            //

            nav {
              position: absolute;
              top: 42vh;
              left: 50vw;
              transform: translate(-50%, -42%);
              //**********
              ul {
                margin: 0;
                padding: 0;
                li {
                  list-style: none;
                  font-size: 12vh;
                  font-weight: 700;
                  cursor: pointer;

                  //
                  height: 100px; //this works like a line-height
                  width: 600px;
                  overflow: hidden; //this is what makes that the font is not totally seen, if you removed this , the 3 links will be seen in its totality which makes it banal
                  position: relative;
                  // background-color: pink;

                  a {
                    padding: 37px 0;
                    position: absolute; //if you take this away, the animation is removed
                    //----------------- ** pink box
                    &:hover {
                      color: #979797;
                    }
                  }
                }
              }
            }
          }
        }

        // this we dont need but maybe we can fin a replacement
        .follow-links-menu-links {
          position: absolute;
          top: 91vh;
          left: 45vw;
          transform: translate(-45%, -91%);
          //
          //
          color: #eeedeb;
          margin-top: 16px;
          font-size: 2vh;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 40px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #eeedeb;
              background: #111111;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
      //
      //-------------
      //
      //-------------
      //
    }
  }
}
// ---------------
// TABLET Landscape
@media screen and(min-width:1024px) {
  header {
    // border: 1px solid rgb(190, 253, 15);
    padding: 0 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px));

    .inner-header {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #18830a;
      // border: 1px solid #000;
      // -----------
      //   z-index DO NOT WORK unless you define a position
      // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
      position: relative;
      //
      // ------------
      //     MENU
      // ------------
      //
      .menu {
        z-index: 10;
        position: absolute;
        top: 3.4vh;
        right: 10vw;
        transform: translate(-10%, -3.4%);
        button {
          color: #eeedeb;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 2vh;
          mix-blend-mode: difference;
        }
      }
      //
      // ------------
      //     LOGO
      // ------------
      //
      .container-logo {
        margin: 20px 0 0 60px;
        text-decoration: none;
        font-family: "Roboto-Light";
        .logo1 {
          font-size: 13vh;
          font-weight: 600;
          color: #eeedeb;
        }
      }

      // --------------
      //  text bio nav
      // --------------

      p {
        margin: 30px 0 0 60px;
        width: 66%;
        font-weight: 100;
        font-size: 3.2vh;
        line-height: 35px;
        letter-spacing: 1px;
        font-family: "Ubuntu-Light";
        color: #eeedeb;
        padding: 10px;

        //
        position: absolute;
        top: 90vh;
        left: 0vw;
        transform: translate(-0%, -90%);
        .link-bio-nav {
          color: #eeedeb;
          margin: 0 10px;
          font-size: 2.5vh;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: rgb(58, 58, 58);
          }
        }
      }
    }

    //
    //
    //
    //   -------------------
    //          Hamburger
    //   -------------------
    //
    // Hamburger content , it s what is going
    // to be shown when clicking on the menu
    // button
    //

    // nav open
    .hamburger-menu {
      display: none; //you can replace it with display just to see what you have
      z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      //
      //-------------
      //  .menu-layer
      //
      .nav_menu-layer {
        position: relative;
        background-color: rgb(10, 10, 10);
        height: 100%;
        overflow: hidden;

        //-------------
        //  .menu-layer
        //-------------
        //
        .nav_menu-layer-wrapper {
          .menu-links {
            position: relative;
            //

            nav {
              position: absolute;
              top: 42vh;
              left: 50vw;
              transform: translate(-50%, -42%);
              //**********
              ul {
                margin: 0;
                padding: 0;
                li {
                  list-style: none;
                  font-size: 13vh;
                  font-weight: 700;
                  cursor: pointer;

                  //
                  height: 100px; //this works like a line-height
                  width: 600px;
                  overflow: hidden; //this is what makes that the font is not totally seen, if you removed this , the 3 links will be seen in its totality which makes it banal
                  position: relative;
                  // background-color: pink;

                  a {
                    padding: 26px 0;
                    position: absolute; //if you take this away, the animation is removed
                    //----------------- ** pink box
                    &:hover {
                      color: #979797;
                    }
                  }
                }
              }
            }
          }
        }

        // this we dont need but maybe we can fin a replacement
        .follow-links-menu-links {
          position: absolute;
          top: 91vh;
          left: 45vw;
          transform: translate(-45%, -91%);
          //
          //
          color: #eeedeb;
          margin-top: 16px;
          font-size: 2vh;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 40px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #eeedeb;
              background: #111111;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
      //
      //-------------
      //
      //-------------
      //
    }
  }
}

// ---------------
// ---------------
// Desktop
@media screen and(min-width:1224px) {
  header {
    // border: 1px solid rgb(190, 253, 15);
    padding: 0 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px));

    .inner-header {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #181953;
      // border: 1px solid #000;
      // -----------
      //   z-index DO NOT WORK unless you define a position
      // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
      position: relative;
      //
      // ------------
      //     MENU
      // ------------
      //
      .menu {
        z-index: 10;
        position: absolute;
        top: 3.4vh;
        right: 10vw;
        transform: translate(-10%, -3.4%);
        button {
          color: #eeedeb;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 2vh;
          mix-blend-mode: difference;
        }
      }
      //
      // ------------
      //     LOGO
      // ------------
      //
      .container-logo {
        margin: 20px 0 0 60px;
        text-decoration: none;
        font-family: "Roboto-Light";
        .logo1 {
          font-size: 15vh;
          font-weight: 600;
          color: #eeedeb;
        }
      }

      // --------------
      //  text bio nav
      // --------------

      p {
        margin: 30px 0 0 60px;
        width: 56%;
        font-weight: 100;
        font-size: 3.6vh;
        line-height: 35px;
        letter-spacing: 1px;
        font-family: "Ubuntu-Light";
        color: #eeedeb;
        padding: 10px;

        //
        position: absolute;
        top: 90vh;
        left: 0vw;
        transform: translate(-0%, -90%);
        .link-bio-nav {
          color: #eeedeb;
          margin: 0 10px;
          font-size: 2.5vh;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: rgb(58, 58, 58);
          }
        }
      }
    }

    //
    //
    //
    //   -------------------
    //          Hamburger
    //   -------------------
    //
    // Hamburger content , it s what is going
    // to be shown when clicking on the menu
    // button
    //

    // nav open
    .hamburger-menu {
      display: none; //you can replace it with display just to see what you have
      z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      //
      //-------------
      //  .menu-layer
      //
      .nav_menu-layer {
        position: relative;
        background-color: rgb(10, 10, 10);
        height: 100%;
        overflow: hidden;

        //-------------
        //  .menu-layer
        //-------------
        //
        .nav_menu-layer-wrapper {
          .menu-links {
            position: relative;
            //

            nav {
              position: absolute;
              top: 42vh;
              left: 50vw;
              transform: translate(-50%, -42%);
              //**********
              ul {
                margin: 0;
                padding: 0;
                li {
                  list-style: none;
                  font-size: 13vh;
                  font-weight: 700;
                  cursor: pointer;

                  //
                  height: 100px; //this works like a line-height
                  width: 600px;
                  overflow: hidden; //this is what makes that the font is not totally seen, if you removed this , the 3 links will be seen in its totality which makes it banal
                  position: relative;
                  // background-color: pink;

                  a {
                    padding: 32px 0;
                    position: absolute; //if you take this away, the animation is removed
                    //----------------- ** pink box
                    &:hover {
                      color: #979797;
                    }
                  }
                }
              }
            }
          }
        }

        // this we dont need but maybe we can fin a replacement
        .follow-links-menu-links {
          position: absolute;
          top: 91vh;
          left: 45vw;
          transform: translate(-45%, -91%);
          //
          //
          color: #eeedeb;
          margin-top: 16px;
          font-size: 2vh;
          font-weight: 600;
          span {
            cursor: pointer;
            &:first-child {
              margin-left: 40px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #eeedeb;
              background: #111111;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
        //-**
      }
      //
      //-------------
      //
      //-------------
      //
    }
  }
}
// ---------------
// LARGE Desktop
@media screen and(min-width:1824px) {
}
