.box-animation {
  padding: 5em 1em 0em 1em;
  display: grid;
  grid-gap: 0em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  // the auto fit will make it adaptable to the device.
  // the minmax means that the box will always keep that size, unless i change it.
  // if you dont add the fraction, leaving alone the 250px, the box will occupy the 100% width, but using the fraction will put it in 2 rows.
  background-color: rgb(177, 85, 49);

  .diagram {
    height: 60vh;
    float: left;
    margin: 1em;
    background-color: red;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}
/*





*/

.box-animationFlag {
  padding: 5em 1em 0em 1em;
  display: grid;
  grid-gap: 0em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  // the auto fit will make it adaptable to the device.
  // the minmax means that the box will always keep that size, unless i change it.
  // if you dont add the fraction, leaving alone the 250px, the box will occupy the 100% width, but using the fraction will put it in 2 rows.
  background-color: rgb(177, 85, 49);

  .diagramFlag {
    height: 60vh;

    margin: 1em;
    background-color: red;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}
//
//
//

button {
  background: gray;
  color: white;
  margin: 20px;
  border: 0;
  border-radius: 2px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
button:hover {
  background: dimgray;
}
:focus {
  outline: none;
}

.flagTwo {
  width: 90%;
  margin: 0 5%;
  background: transparent;
  text-align: center;
  max-width: 900px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

//----------------
//
//

.CubeOriginalZoom-box1 {
  padding: 5em 5em 2em 5em;
  display: grid;
  grid-gap: 0em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  // the auto fit will make it adaptable to the device.
  // the minmax means that the box will always keep that size, unless i change it.
  // if you dont add the fraction, leaving alone the 250px, the box will occupy the 100% width, but using the fraction will put it in 2 rows.
  background-color: rgb(140, 167, 138);

  .CubeOrginalZoom-child {
    margin: 0;
    overflow: hidden;
    background: rgba(92, 100, 86, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font: 12px sans-serif;
  }

  .CubeOriginal {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    max-width: 800px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.button-cube-original-zoom {
  background-color: yellow;

  p {
    color: red;
  }
  button.btn-zoom-original {
    background: gray;
    color: white;
    margin: 20px;
    border: 0;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  button:hover {
    background: dimgray;
  }
  :focus {
    outline: none;
  }
}

//
//
//
.cubeLight-wrapper {
  margin: 0;
  overflow: hidden;
  background-color: rgb(140, 167, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 12px sans-serif;
  .CubeLight {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    max-width: 800px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 5px solid #000;
  }
}
